<section>

  <h1 class="">
    The world's first plant-based bra cup, sourced from
    <span class="green">
      sugarcane
    </span>.
  </h1>
  <div class="action-wrap">

    <svg
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_501_723)">
        <path
          d="M5.00024 8.18182L7.27297 10L11.0002 6"
          stroke="#DBF617"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round" />
        <path d="M8.00024 2C11.3002 2 14.0002 4.7 14.0002 8C14.0002 11.3 11.3002 14 8.00024 14C4.70024 14 2.00024 11.3 2.00024 8C2.00024 4.7 4.70024 2 8.00024 2ZM8.00024 0.5C3.90024 0.5 0.500244 3.9 0.500244 8C0.500244 12.1 3.90024 15.5 8.00024 15.5C12.1002 15.5 15.5002 12.1 15.5002 8C15.5002 3.9 12.1002 0.5 8.00024 0.5Z" fill="#DBF617" />
      </g>
      <defs>
        <clipPath id="clip0_501_723">
          <rect
            width="16"
            height="16"
            fill="white"
            transform="translate(0.000244141)" />
        </clipPath>
      </defs>
    </svg>

    <li class="items">Sugarcup™ uses Braskem’s harvested bio-based EVA from sugarcane</li>
    <svg
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_501_723)">
        <path
          d="M5.00024 8.18182L7.27297 10L11.0002 6"
          stroke="#DBF617"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round" />
        <path d="M8.00024 2C11.3002 2 14.0002 4.7 14.0002 8C14.0002 11.3 11.3002 14 8.00024 14C4.70024 14 2.00024 11.3 2.00024 8C2.00024 4.7 4.70024 2 8.00024 2ZM8.00024 0.5C3.90024 0.5 0.500244 3.9 0.500244 8C0.500244 12.1 3.90024 15.5 8.00024 15.5C12.1002 15.5 15.5002 12.1 15.5002 8C15.5002 3.9 12.1002 0.5 8.00024 0.5Z" fill="#DBF617" />
      </g>
      <defs>
        <clipPath id="clip0_501_723">
          <rect
            width="16"
            height="16"
            fill="white"
            transform="translate(0.000244141)" />
        </clipPath>
      </defs>
    </svg>

    <li class="items">The world’s first plant-based bra cup, sourced from sugarcane</li>
    <svg
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_501_723)">
        <path
          d="M5.00024 8.18182L7.27297 10L11.0002 6"
          stroke="#DBF617"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round" />
        <path d="M8.00024 2C11.3002 2 14.0002 4.7 14.0002 8C14.0002 11.3 11.3002 14 8.00024 14C4.70024 14 2.00024 11.3 2.00024 8C2.00024 4.7 4.70024 2 8.00024 2ZM8.00024 0.5C3.90024 0.5 0.500244 3.9 0.500244 8C0.500244 12.1 3.90024 15.5 8.00024 15.5C12.1002 15.5 15.5002 12.1 15.5002 8C15.5002 3.9 12.1002 0.5 8.00024 0.5Z" fill="#DBF617" />
      </g>
      <defs>
        <clipPath id="clip0_501_723">
          <rect
            width="16"
            height="16"
            fill="white"
            transform="translate(0.000244141)" />
        </clipPath>
      </defs>
    </svg>

    <li class="items">This revolutionary bra cup has been patented and trademarked the sugarcup™</li>
    <svg
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_501_723)">
        <path
          d="M5.00024 8.18182L7.27297 10L11.0002 6"
          stroke="#DBF617"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round" />
        <path d="M8.00024 2C11.3002 2 14.0002 4.7 14.0002 8C14.0002 11.3 11.3002 14 8.00024 14C4.70024 14 2.00024 11.3 2.00024 8C2.00024 4.7 4.70024 2 8.00024 2ZM8.00024 0.5C3.90024 0.5 0.500244 3.9 0.500244 8C0.500244 12.1 3.90024 15.5 8.00024 15.5C12.1002 15.5 15.5002 12.1 15.5002 8C15.5002 3.9 12.1002 0.5 8.00024 0.5Z" fill="#DBF617" />
      </g>
      <defs>
        <clipPath id="clip0_501_723">
          <rect
            width="16"
            height="16"
            fill="white"
            transform="translate(0.000244141)" />
        </clipPath>
      </defs>
    </svg>

    <li class="items">Available in closed and open cell</li>

  </div>
  <img
    src="//cdn.shopify.com/s/files/1/0709/1437/5961/files/Rectangle_13.png?v=1674000634&width=1500"
    loading='lazy'
    width="{{ image.width }}"
    height="{{ image.height }}" />

  <div class="buttons">

    <div class="container-3">
      <p>How its made</p>
    </div>
    <div class="container-3">
      <h3>
        Innovative and sustainable
      </h3>
      <p class="small dim">Imperdiet dolor integer tellus facilisis augue cras. Imperdiet at nisl auctor tincidunt. Turpis diam lorem quis dictumst. Interdum in dui sit molestie turpis nisi. Non fringilla laoreet imperdiet gravida iaculis.</p>
    </div>
  </div>

  <div class="buttons">

    <div class="container">
      <p class="dim">What is it</p>
      <h5>Polyurethane, the key component of foam used in today’s bras</h5>
    </div>

    <div class="container-2">
      <p class="dim">How It's Made</p>
      <h5 class="white">Polyurethane, the key component of foam used in today’s bras</h5>
    </div>
  </div>

</section>



<style>

  section {
    display: grid;
    background: linear-gradient(#30493C 0%, #30493C 40%, #FFFFFF 40%, #FFFFFF 100%);
    place-items: center;
    color: white;
  }
  h1 {
    color: white;
  }

  .items {
    margin-bottom: 2rem;
    list-style: none;
    max-width: 300px;
    font-size: 14px;
    opacity: 0.6;

  }

  .action-wrap {
    display: flex;
    gap: 1rem;
    align-items: start;


  }
  .small {
    font-size: 1.5rem;
  }

  p {
    font-family: IBM Plex Mono;
    font-size: 14px;
    text-transform: uppercase;
    color: #30493C;
    opacity: 0.5;
    display: flex;

  }

  .info {
    padding-top: 4rem;
    display: flex;
    align-items: center;
  }

  .container {

    width: 600px;
    padding: 2rem;
    background: #DBF617;
    border-radius: 32px;
    margin: 2rem;

  }

  .container-2 {
    width: 600px;
    padding: 2rem;
    background: #3FB76F;
    border-radius: 32px;
    margin: 2rem;

  }

  .green {
    color: #DBF617
  }

  .container-3 {
    width: 600px;
    align-items: top;

  }

  .white {
    color: white;
  }

  .dim {
    opacity: 0.6;
  }

  .buttons {
    display: flex;
    align-items: center;

  }
</style>
{% schema %}
  {
    "name": "Take Home",
    "tag": "section",
    "class": "take-home",
    "settings": [],

    "presets": [
      {
        "name": "Take Home"
      }
    ]
  }
{% endschema %}